<div class="jumbotron mt4">
    <h1 class = "display-4">Notes App NodeJS and MongoDB</h1>
    <p class="lead">Notas do Dia-a-dia</p>
    <hr class ="my-4"> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vel magni reiciendis quod quas eaque a, eum
        laudantium
        dignissimos molestiae facere nobis! Odio praesentium laborum sint quaerat quod, iure aperiam!</p>
    
    <a href="http://google.com" target= "_blank" class="btn btn-primary">Google</a>
</div>