<div class="card">
    <div class="card-body">
        {{#each user}}
        <img class="card-img-top" style="max-width: 100px; max-height: 100px;" src="{{avatar}}" alt="avatar">
        {{/each}}
    </div>
</div>
</div>

<div class="card menu ml-auto">
    <div class="icon-close">
        <p>Amigos</p>
    </div>
    <!-- Menu -->
    {{#each friends}}
    <ul>
        <li>
            <a href="/users/user/{{nome}}">{{nome}}</a>
        </li>
    </ul>
    {{/each}}
</div>